<%= form_for(@booth) do |f| %>
  <% if @booth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booth.errors.count, "error") %> prohibited this booth from being saved:</h2>

      <ul>
      <% @booth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :x_pos %><br>
    <%= f.number_field :x_pos %>
  </div>
  <div class="field">
    <%= f.label :y_pos %><br>
    <%= f.number_field :y_pos %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
