<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @booth.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booth.end_time %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @booth.vendor_id %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @booth.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @booth.y_pos %>
</p>

<p>
  <strong>Width:</strong>
  <%= @booth.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @booth.height %>
</p>

<%= link_to 'Edit', edit_booth_path(@booth) %> |
<%= link_to 'Back', booths_path %>
