

<%= simple_form_for @map do |f| %>
    <% if @map.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

          <ul>
          <% @map.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <%= f.association :convention, :selected => params[:convention_id] %>
    <%= f.input :name, :label => "Map name/location" %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :width, :label => "Width (px)" %>
    <%= f.input :height, :label => "Height (px)" %>

    <div class="actions">
        <%= f.submit "Confirm" %>
    </div>
<% end %>
