
<div class="strong_overlay" id="fakeMapForm">
    <%= simple_form_for @map, html: { class: "jsForm"} do |f| %>
        <h3>Map Form</h3>

        <ul class="unordered row">
            <li>
                <%= f.input :convention_id, :collection => Convention.all, :selected => params[:convention_id] %>
            </li>
            <li>
                <%= f.input :name, :label => "Name" %>
            </li>
            <%#= f.input :start_date %>
            <%#= f.input :end_date %>
            <li>
                <%= f.input :width, :label => "Width (px)" %>
            </li>
            <li>
                <%= f.input :height, :label => "Height (px)" %>
            </li>
        </ul>

        <div class="row jsForm_actions">
            <%= f.submit "Confirm", class: "greenbtn btn"%>
            <%= link_to 'Back', home_path, class: "redbtn btn" %>
        </div>
    <% end %>
</div>