<%= include_gon %> <%# Even though gon loaded on application.html, reload just in case %>
<%= render partial: 'jsForm', locals: {map: @map} %>
<%= render partial: 'vendor_booths/jsForm' %>
<%= render partial: 'vendors/jsForm' %>
<%= render partial: 'tags/jsForm' %>
<%= render partial: 'saving_splash' %>

<div class="container-fluid noPad">

<div id="toolBar" class="row">
    <button id="save"><i class="fa fa-floppy-o"></i> Save</button>

    <div id="map_options">
        <span>
            <%= @map.convention.name %> | <%= @map.name %>
            <a href="javascript:;" id="map_config"><i class="fa fa-cog"></i></a>
        </span>
    </div>

    <%= render partial: 'mousetools' %>

    <%= render partial: 'tags/tag_craft', locals: {tags: @tags} %>
    <%= render partial: 'vendors/vendor_craft', locals: {vendors: @vendors} %>
</div>

<div id="workArea_container" class="row">
    <div id="workArea">
        <% @booths.each do |booth| %>
            <%= content_tag :div, "", class: "booth #{booth.cssVendorClasses}", style: "left:#{booth.x_pos}px; top:#{booth.y_pos}px; width:#{booth.width}px; height:#{booth.height}px", "data-id": "#{booth.id}", "tabindex":1 do %>
            <div class="booth_label"><%= booth.id %></div>
            <ul class="unordered vendorBooth">
                <li>Vendors assigned to this booth<a href="javascript:;" class="close_vendorBooth"><i class="fa fa-times"></i></a></li>
                <% if booth.vendor_booths.size > 0 %>
                    <% booth.vendor_booths.each do |vendor_booth| %>
                        <li class="vendorBooth v<%= vendor_booth.vendor.id %>" data-id="<%= vendor_booth.id %>">
                            <%= vendor_booth.vendor.name %>
                            <div class="options">
                                <a href="javascript:;" class="update_vendorBooth"><i class="fa fa-pencil"></i></a><a href="javascript:;" class="destroy_vendorBooth"><i class="fa fa-trash"></i></a>
                            </div>
                            <span class="dateRange">(<%= vendor_booth.timeRange %>)</span>
                        </li>
                    <% end %>
                <% else %>
                    <li class="no_vendorBooths">No vendors assigned</li>
                <% end %>

            </ul>
            <% end %>
        <% end %>
    </div>
</div>

<%= javascript_include_tag "mapMaker.js" %>

</div> <%# Close div container-fluid %>