<%= include_gon %> <%# Even though gon loaded on application.html, reload just in case %>
<%= render partial: 'jsForm', locals: {map: @map} %>
<%= render partial: 'booths/name_jsForm' %>
<%= render partial: 'vendor_booths/jsForm' %>
<%= render partial: 'vendors/jsForm' %>
<%= render partial: 'tags/jsForm' %>
<%= render partial: 'saving_splash' %>

<div class="container-fluid noPad">

<div id="toolBar" class="row">
    <button id="save"><i class="fa fa-floppy-o"></i> Save</button>

    <div id="map_options">
        <span>
            <%= @map.convention.name %> | <%= @map.name %>
            <a href="javascript:;" id="map_config"><i class="fa fa-cog"></i></a>
        </span>
    </div>

    <%= render partial: 'mousetools' %>

    <%= render partial: 'tags/tag_craft', locals: {tags: @tags} %>
    <%= render partial: 'vendors/vendor_craft', locals: {vendors: @vendors} %>
</div>


<%= render partial: 'workArea', locals: {booths: @booths} %>

<%= render partial: 'casts/displayBin', locals: {convention: @map.convention} %>

<%= javascript_include_tag "mapMaker.js" %>

</div> <%# Close div container-fluid %>