
<div id="toolBar">
    <button class="tool" data-type="rectangle">Rectangle</button>
    <button class="tool" data-type="eraser">Eraser</button>
    <button class="tool" data-type="select">Select</button>
    <button class="tool" data-type="infoselect">Infoselect</button>

    <%= render partial: 'vendors/vendor_craft', locals: {vendors: @vendors} %>
</div>

<%= render partial: 'vendor_booths/jsForm' %>

<div id="workArea_container">
    <div id="workArea">
        <% @booths.each do |booth| %>
            <%= content_tag :div, "", class: "booth", style: "left:#{booth.x_pos}px; top:#{booth.y_pos}px; width:#{booth.width}px; height:#{booth.height}px", "data-id": "#{booth.id}" do %>
            <ul class="unordered vendorBooth">
                <li>Vendors assigned to this booth<a href="#" class="close_vendorBooth"><i class="fa fa-times"></i></a></li>
                <% if booth.vendor_booths.size > 0 %>
                    <% booth.vendor_booths.each do |vendor_booth| %>
                        <li class="vendorBooth v<%= vendor_booth.vendor.id %>">
                            <%= vendor_booth.vendor.name %>
                            <div class="options">
                                <button class="update_vendorBooth"><i class="fa fa-pencil"></i></button>
                                <button class="destroy_vendorBooth"><i class="fa fa-trash"></i></button>
                            </div>
                            <span class="dateRange">(<%= vendor_booth.timeRange %>)</span>
                        </li>
                    <% end %>
                <% else %>
                    <li class="no_vendorBooths">No vendors assigned</li>
                <% end %>

            </ul>
            <% end %>
        <% end %>
    </div>
</div>

<button id="save">Save</button>

<%= javascript_include_tag "mapMaker.js" %>