
<div class="container-fluid noPad">

<div class="row top_index mapshow">
    <%= link_to convention_path(@map.convention), class: "backToCon" do %>
        <i class="fa fa-th-list"></i>
    <% end %>
    <% if @centeredVendor %>
        <h3><%= @map.name %> | <%= @centeredVendor.name %></h3>
        <span><%= @vendorBooth.timeRange() %><span>
    <% else %>
        <h3><%= @map.name %></h3>
    <% end %>
</div>

<div id="mapArea_container" class="row">
    <div id="mapArea" style="width:<%= @map.width %>px; height:<%= @map.height %>px">
        <% @booths.each do |booth| %>
            <%= content_tag :div, "", class: "booth #{booth.cssVendorClasses}", onclick: "javascript:vendor_toggle(#{booth.id})", style: "left:#{booth.x_pos}px; top:#{booth.y_pos}px; width:#{booth.width}px; height:#{booth.height}px", "data-id": "#{booth.id}" do %>
            <div class="booth_label"><%= booth.id %></div>
            <ul class="unordered vendorBooth" onclick="javascript:vendor_toggle(<%= booth.id %>)">
                <li>Vendors assigned to this booth<a href="javascript:;" class="close_vendorBooth" ><i class="fa fa-times"></i></a></li>
                <% if booth.vendor_booths.size > 0 %>
                    <% booth.vendor_booths.each do |vendor_booth| %>
                        <li class="vendorBooth v<%= vendor_booth.vendor.id %>" data-id="<%= vendor_booth.id %>" >
                            <%= vendor_booth.vendor.name %>
                            <span class="dateRange">(<%= vendor_booth.timeRange %>)</span>
                        </li>
                    <% end %>
                <% else %>
                    <li class="no_vendorBooths">No vendors assigned</li>
                <% end %>

            </ul>
            <% end %>
        <% end %>
    </div>
</div>

<%# If SHOW is passed in the optional param :centerBooth_id, we can find a booth to center the map on! %>
<% if @centeredBooth %>
    <script>centerOnBooth(<%= @centeredBooth.x_pos %>, <%= @centeredBooth.y_pos %>, <%= @centeredBooth.width %>, <%= @centeredBooth.height %>, <%= @centeredBooth.id %>)</script>
<% end %>

<script>
function vendor_toggle(x) {
	if($('[data-id=' + x + ']')[0].children[0].style.display = "none")
	{
		$('[data-id=' + x + ']')[0].children[0].style.display = "block";
	}
	else
	{
		$('[data-id=' + x + ']')[0].children[0].style.display = "none";
	}
}
</script>
