<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <%= link_to ('javascript:history.go(-1);'), :class => 'button back_button'  do %>
        <i class="fa fa-chevron-left"></i>
    <% end %>
    <ul>
    <% if logged_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to "logout", logout_path %></li>
    <% else %>
        <li><%= link_to "login", login_path %></li>
      <% end %>
    </ul>

    <div class="navbar-header">
        <a id="navlogo" href="/"><%= image_tag('beacon_logo_m.png')%></a>
    </div>

  </div>
</nav>
