<%= simple_form_for @user do |f| %>
    
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <p>
        <%= f.input :username, placeholder: "Username", label: false, :required => true, input_html: {class: "form-control"} %>
        <%= f.input :password, placeholder: "Password", label: false, :required => true, input_html: {class: "form-control"} %>
        <br />
        <%= f.input :password_confirmation, placeholder: "Confirm Password", :required => true, label: false, input_html: {class: "form-control"} %>
    </p>


  <%= f.submit (@user.new_record? ? "Sign up" : "Update"), class: "greenbtn btn-lg" %>
<% end %>