<%# Logged in - Convention Map Maker %>
<% if logged_in? %>
    <div class="row" id="dashboard_welcome">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1 left">
        <% if @conventions.active.size < 1 %>
            <h3>Welcome to Conpass, <%= current_user.username %>!</h3>
            <p>
                Ready to make an interactive map for your convention, fair, or other fun activity?
                Click <%= link_to "here", new_convention_path %> or on the "New Convention" button below to get started!
            </p>
            <p>
                If you’re new to Beacon, check out this <%= link_to "faq", faq_path %> to help you get started. For your convenience, we've made a sample convention for you to use as reference.
            </p>
        <% else %>
            <h3>Welcome back, <%= current_user.username %></h3>
        <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 right">
            <h3>Quick Actions</h3>
            <%= link_to new_convention_path, class: 'greenbtn btn' do %>
                <i class="fa fa-plus"></i> New Convention
            <% end %>
            <%= link_to faq_path, class: 'btn btn-lg' do %>
                <i class="fa fa-question-circle"></i> FAQ
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h3>Your Conventions</h3>
            <ul class="unordered convention_cards">
                <% @conventions.each do |convention| %>
                    <li>
                        <%= link_to quickview_convention_path(convention) do %>
                            <h4><%= convention.name %></h4>
                        <% end %>
                        <p>
                            <% if convention.active %>
                                <strong>Active</strong>, visible to public | <%= link_to "View public page", convention %>)
                                <%= button_to toggle_active_path(convention), data: { confirm: "Are you sure you want to deactive this convention? This will prevent attendees from viewing the maps."},class: "active_toggle" do %>
                                    <i class="fa fa-eye active"></i>
                                <% end %>
                            <% else %>
                                <strong>Private</strong>, only visible to you | <%= link_to "Preview", convention %>
                                <%= button_to toggle_active_path(convention), data: { confirm: "Are you certain the convention #{convention.name} and its maps are ready to be shared with the public?"}, class: "active_toggle" do %>
                                    <i class="fa fa-eye"></i>
                                <% end %>
                            <% end %>

                            <strong>Maps: </strong>
                            <% if convention.maps.size < 1 %>
                                This convention doesn't have any maps yet! <%= link_to "Click here to add one.", new_map_path(convention_id: convention.id) %>
                            <% else %>
                                <% convention.maps.each do |map| %>
                                    <%= link_to map.name, craft_map_path(map) %><% if map != convention.maps.last() %>,<% end %>
                                <% end %>
                                <br /><%= link_to "Add another map", new_map_path(convention_id: convention.id) %>
                            <% end %>

                            <br /><%= link_to "View associates", associates_convention_path(convention) %>
                        </p>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% else %>
    <p> You need to login to view this page </p>
<% end %>