<div id="vendor_craft">
    <div>
        <button id="toggle_vendors">Vendors</button>
        <button id="add_vendor">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing vendors %>
    <div id="vendor_list">
        <ul class="unordered">
            <% vendors.each do |vendor| %>
                <li data-id="<%= vendor.id %>">
                    <div class="vendorshow">
                        <% if vendor.booths.size > 0 %>
                            <i class="fa fa-circle drag_assign" draggable="true"></i>
                        <% else %>
                            <i class="fa fa-circle-o drag_assign" draggable="true"></i>
                        <% end %>
                        <a href="#" class="vendor_name"><%= vendor.name %></a>
                        <i class="fa fa-eye vendorview_toggle"></i>
                    </div>
                    <div class="vendorshow_extra">
                        <strong>URL: </strong> <span class="vendor_url"><%= vendor.website_url %></span>
                        <strong>Description: </strong> <span class="vendor_desc"><%= vendor.description %></span>
                        <div class="vendor_tags">
                            <% vendor.tags.each do |tag| %>
                                <%= tag.name %>
                            <% end %>
                        </div>
                        <button class="update_vendor">Update</button>
                        <button class="destroy_vendor">Destroy</button>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>

    <%# Vendor overlay form %>
    <div class="overlay">
        <form id="vendor_form">
            <div class="error">
                Please enter a name for the vendor
            </div>
            <a href="#" class="close_overlay">
                <i class="fa fa-times"></i>
            </a>
            <ul class="unordered">
                <li>
                    <label for="vendor_name">Name</label>
                    <input type="text" name="vendor_name" class="vendor_name">
                </li>
                <li>
                    <label for="vendor_url">URL</label>
                    <input type="text" name="vendor_url" class="vendor_url">
                </li>
                <li>
                    <label for="vendor_desc">Description</label>
                    ​<textarea id="txtArea" rows="10" name="vendor_desc" class="vendor_desc"></textarea>
                </li>
            </ul>
            <button id="vendor_form_submit">Submit</button>
            <button class="close_overlay">Cancel</button>
        </form>
    </div>

</div>
