<h1>Listing vendors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Convention</th>
      <th>Description</th>
      <th>Website url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.name, vendor %></td>
        <td><%= link_to vendor.convention.name, vendor.convention %></td>
        <td><%= vendor.description %></td>
        <td><%= link_to vendor.website_url, "http://#{vendor.website_url}" %></td>

        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
          <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
