<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Convention:</strong>
  <%= link_to @vendor.convention.name, @vendor.convention %>
</p>

<p> 
	<strong>Times:</strong> 

</p>

<p>
  <strong>Website:</strong>
  <% if !@vendor.website_url.present?  %>
  	None provided
  <% else %>
  	<%= link_to @vendor.website_url, "http://#{@vendor.website_url}" %>
  	<% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>


<%# TEMPORARY, clicking on these links goes to map and centers on the vendor %>
<ul>
<% @vendorBooths.each do |vendorBooth| %>

    <li>
        <%= link_to map_path(vendorBooth.booth.map, :centerbooth_id => vendorBooth.booth.id, :vendorbooth_id => vendorBooth.id) do %>
            <i class="fa fa-map"></i> <%= vendorBooth.booth.map.name %> | Booth <%= vendorBooth.booth.id %>
        <% end %>
    </li>
<% end %>
</ul>


<% if logged_in? %>
    <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
    <%= link_to 'Back', vendors_path %>
<% end %>
