<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @associate.vendor_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @associate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @associate.last_name %>
</p>

<%= link_to 'Edit', edit_associate_path(@associate) %> |
<%= link_to 'Back', associates_path %>
