
<%# Contains convention title, description, address, contacts %>

<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-1" style="background-color: tan;">
        <h3><%= @convention.name %></h3>

        <h5>About the Event</h5>
        <% if @convention.description %>
            <p><%= @convention.description %></p>
        <% end %>

        <h5>When and Where?</h5>
        <p>
            <%= @convention.dateRange() %><br />
            
            <%= @convention.location.address_1 %> <%= @convention.location.address_2.empty? ? "" : "," + @convention.location.address_2  %><br />
            <%= @convention.location.city %> <%= @convention.location.state.empty? ? "" : ", " + @convention.location.state %> <%= @convention.location.zip %> <%= @convention.location.country %>
            <br />
            <% if !@convention.location.latitude.blank? && !@convention.location.longitude.blank? %>
                <div id="con_google_map"></div>
            <% end %>
        </p>
    </div>

    <div class="col-sm-12 col-md-3 col-md-offset-1" style="background-color: pink;">
        <h5>Contact Us</h5>
        <p>
            TO DO LATER
        </p>
    </div>

</div>


<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
function initialize() {
    var mapProp = {
        center:new google.maps.LatLng(<%= @convention.location.latitude %>, <%= @convention.location.longitude %>),
        zoom:15,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("con_google_map"),mapProp);

    var myLatLng = {lat: <%= @convention.location.latitude %>, lng: <%= @convention.location.longitude %>};
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
    });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>



