
<%# Contains convention title, description, address, contacts %>


<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-1" style="background-color: tan;">
        <h3><%= @convention.name %></h3>

        <h5>About the Event</h5>
        <% if @convention.description %>
            <p><%= @convention.description %></p>
        <% end %>

        <h5>When and Where?</h5>
        <p>
            <%= @convention.dateRange() %><br />
            
            <%= @convention.location.address_1 %> <%= @convention.location.address_2.empty? ? "" : "," + @convention.location.address_2  %><br />
            <%= @convention.location.city %> <%= @convention.location.state.empty? ? "" : ", " + @convention.location.state %> <%= @convention.location.zip %> <%= @convention.location.country %>
            <br />
            <% if @convention.location.valid? %>
                RENDER A GOODGLLE MAPZ
            <% end %>
        </p>
    </div>

    <div class="col-sm-12 col-md-3 col-md-offset-1" style="background-color: pink;">
        <h5>Contact Us</h5>
        <p>
            TO DO LATER
        </p>
    </div>

</div>