
<%# Extra filtering funcionality on vendor listing due to likely larger number %>
<div class="row sub_header_nav">
    <%= link_to home_path do %>
        <i class="fa fa-star"></i> Vendors
    <% end %>
    <div class="actions">
        <a href="javascript:;" id="filter_vendors"><i class="fa fa-filter"></i> Filter</a>
        <a href="javascript:;" id="order_vendors">ABC</a>
    </div>
</div>

<%# Search %>
<%= form_for(convention, remote: true, url: vendorSearch_convention_path, method: :post) do |f| %>
    <%= text_field_tag("search", nil, placeholder: "Search by paper name or author") %>
    <%# TODO: On clicking to a different filter, change a hidden input here that will pass that to our search method so that the sort is maintained %>
    <%= submit_tag "Search", :onclick => "searching_vendors();" %>
<% end %>


<%# Filter modal %>
<div class="overlay">
    <form id="filter_modal" class="jsForm">
        <h3>Filter by...</h3>

        <a href="javascript:;" class="close_overlay">
            <i class="fa fa-times"></i>
        </a>

        <ul class="unordered">
            <% tags.each do |tag| %>
                <li>
                    <input type="checkbox" value="tag_<%= tag.id %>"><%= tag.name %>
                </li>
            <% end %>
        </ul>
        <div class="jsForm_actions">
            <button id="filter_vendors_submit" class="greenbtn btn">Submit</button>
            <button class="close_overlay redbtn btn">Cancel</button>
        </div>
    </form>
</div>

<%# Convention vendor listing - gets updated/replaced on search %>
<div id="convention_vendor_listing">
    <%= render :partial => 'convention_vendor_listing', locals: { vendors: vendors } %>
</div>

