<%= simple_form_for @convention, :html => { class: "convention-form" } do |f| %>

    <%= render partial: "partials/form_errors", locals: {model_obj: @convention} %>

    <section>
        <h3>Step 1. The Basics</h3>
        <%= f.input :name, placeholder: "What's the name of your convention, conference, festival, or fair?", label: "Convention name", input_html: { class: "form-control" } %>

        <%= f.label :description %>
        <%= f.input :description, placeholder: "What's your event about? What do you want attendees to know?", label: false, input_html: { class: "form-control" } %>
        
        <%= f.label :type, label: "Type of Convention" %>
        <%= f.association :type, label: false, :prompt => 'Choose'%>

        <% @allTypes.each do |type| %>
            <div class="convention_type_preview" id="convention_type_<%= type.id %>">
                <strong><%= type.name %></strong>
                <p><%= type.description %></p>
            </div>
        <% end %>

    </section>

    <hr />

    <section>
        <h3>Step 2. When and Where</h3>
        <%= f.input :start_date, input_html: {id: "convention_start_date"}, as: :string %>
        <%= f.input :end_date, input_html: {id: "convention_end_date" },as: :string %>
        <%= f.simple_fields_for :location do |l| %>
            <%= l.input :address_1, label: "Address Line 1", placeholder: "Ex: 5000 Forbes Avenue" %>
            <%= l.input :address_2, label: "Address Line 2", placeholder: "Ex: Apt 1" %>
            <%= l.input :city, placeholder: "Ex: Pittsburgh" %>
            <%= l.input :state, :collection => Location::STATES_LIST, :include_blank => true %>
            <%= l.input :zip, placeholder: "Ex: 15213" %>
        <% end %>
    </section>

    <hr />

    <section>
        <h3>Step 3. Customize</h3>

        <p>
            <%= f.label :logo, label: "Upload a logo" %>
            <%= image_tag(@convention.logo_url) if @convention.logo? %>
            <%= f.file_field :logo %>
            <%= f.hidden_field :logo_cache %>
            <%= f.label :remove_logo, label: "Check to remove logo" %>
            <%= f.check_box :remove_logo%>
        </p>

        <p>
            <%= f.label :banner, label: "Upload a banner" %>
            <%= image_tag(@convention.banner_url) if @convention.banner? %>
            <%= f.file_field :banner %>
            <%= f.hidden_field :banner_cache %>
            <%= f.label :remove_banner, label: "Check to remove banner" %>
            <%= f.check_box :remove_banner %>
        </p>
    </section>

    <div class="actions">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </div>
<% end %>

<script>
$('#convention_start_date').datetimepicker();
$('#convention_end_date').datetimepicker();

<%# In the future, an interaction that displays types and on hover, shows the description would be nicer. For now, we have this janky thing. Remove in the future! %>
$("#convention_type_id").change(function() {
    var selected = $("#convention_type_id").val();
    $(".convention_type_preview").hide();
    $("#convention_type_"+selected).show();
})
</script>
