
<%= simple_form_for(@convention) do |f| %>
  <% if @convention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convention.errors.count, "error") %> prohibited this convention from being saved:</h2>

      <ul>
      <% @convention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
