<%= form_for(@convention) do |f| %>
  <% if @convention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convention.errors.count, "error") %> prohibited this convention from being saved:</h2>

      <ul>
      <% @convention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
