<%= simple_form_for @convention, :html => { class: "convention-form" } do |f| %>
  <% if @convention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convention.errors.count, "error") %> prohibited this convention from being saved:</h2>

      <ul>
      <% @convention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--input type="text" id="convention_name" name="convention[name]" class="form-control" placeholder="Name" required autofocus-->
  <%= f.input :name, placeholder: "Name", label: false, input_html: { class: "form-control" } %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <div class="actions">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </div>
<% end %>
