
<div class="container-fluid">
    <div class="row topbar">
        <div id = "title" class="col-xs-8">
            <h3>Browse Conventions</h3>
        </div>
        <div class="col-xs-1">
            <a href="#">
                <i class="fa fa-star"></i>
            </a>
        </div>
        <div class="col-xs-1 filter">
            <a id="popup" onclick="div_show()" href="#">
                <i class="fa fa-filter"></i>
            </a>
        </div>
        <div  onclick ="alphabetize()" class="col-xs-1">
            <a href="#"id="alphabet">
                ABC
            </a>
        </div>
    </div>

    <ul id="chronological" class="chronological">
        <% @conventions.each do |convention| %>
        <li class="row convention">
        <div class="con_id">
                <%= convention.id %>
        </div>
            <div class="con_image">
                <img style="width:90%;height:70px;" src="http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png">
            </div>
            <p>
                <h5><%= link_to convention.name, convention %></h5>
                <%= convention.start_date.strftime('%m/%d/%y') %> - <%= convention.end_date.strftime('%m/%d/%y') %>
        <%= convention.start_date.strftime('%l:%M%p') %> - <%= convention.end_date.strftime('%l:%M%p') %>
            </p>
        </li>
        <% end %>
    </ul>

    <ul id="alphabetical" class="alphabetical">
        <% @alphabetical.each do |convention| %>
        <li class="row convention">
        <div class="con_id">
                <%= convention.id %>
        </div>
            <div class="con_image">
                <img style="width:90%;height:70px;" src="http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png">
            </div>
            <p>
                <h5><%= link_to convention.name, convention %></h5>
                <%= convention.start_date.strftime('%m/%d/%y') %> - <%= convention.end_date.strftime('%m/%d/%y') %>
        <%= convention.start_date.strftime('%l:%M%p') %> - <%= convention.end_date.strftime('%l:%M%p') %>
            </p>
        </li>
        <% end %>
    </ul>





</div>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div id="openHere">
	<div id="popupSort">
		<div class="popupHeader">Filter</div>
		<form id="form" method="post" name="form">
			<input type="radio" id="r1" name="Sort" value="Current">Current
			<br>
			<input type="radio" id="r2" name="Sort" value="Upcoming">Upcoming
			<div class="row">
				<div class="col-xs-6">
					<div class="submit">
						<a href="javascript:%20sort()" id="submit">Submit</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="cancel">
						<a href="#" id="cancel" onclick ="div_hide()">Cancel</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
<!-- Popup Div Ends Here -->
</div>

<%= javascript_include_tag "conventions_popup.js" %>
<div id="sorting_information">
	<div id="current_data">
		<%= @current.to_a %>
	</div>
	<div id="upcoming_data">
		<%= @upcoming.to_s %>
	</div>
</div>




