
<div class="container-fluid">

    <div class="row topbar top_index">
        <div id = "title" class="col-xs-10">
            <h3>Browse Conventions</h3>
        </div>
        <div onclick ="alphabetize()" class="col-xs-1">
            <a href="javascript:;" id="alphabet">
                Sort (ABC)
            </a>
        </div>
    </div>

    <ul id="chronological" class="chronological convention_list">
        <% @conventions.each do |convention| %>
        <li class="row convention">
            <div class="con_id">
                    <%= convention.id %>
            </div>
            <div class="con_image">
                <img style="" src="/assets/tocLogo.png">
            </div>
            <p>
                <h5><%= link_to convention.name, convention %></h5>
                <%= convention.start_date.strftime('%m/%d/%y') %> - <%= convention.end_date.strftime('%m/%d/%y') %>
                <%= convention.start_date.strftime('%l:%M%p') %> - <%= convention.end_date.strftime('%l:%M%p') %>
            </p>
        </li>
        <% end %>
    </ul>


    <ul id="alphabetical" class="alphabetical convention_list">
        <% @alphabetical.each do |convention| %>
            <li class="row convention">
                <div class="con_id">
                        <%= convention.id %>
                </div>
                <div class="con_image">
                    <img style="" src="/assets/tocLogo.png">
                </div>
                <p>
                    <h5><%= link_to convention.name, convention %></h5>
                    <%= convention.start_date.strftime('%m/%d/%y') %> - <%= convention.end_date.strftime('%m/%d/%y') %>
                    <%= convention.start_date.strftime('%l:%M%p') %> - <%= convention.end_date.strftime('%l:%M%p') %>
                </p>
            </li>
        <% end %>
    </ul>

</div>


<div id="openHere">
	<div id="popupSort">
		<div class="popupHeader">Filter</div>
		<form id="form" method="post" name="form">
			<input type="radio" id="r1" name="Sort" value="Current">Current
			<br>
			<input type="radio" id="r2" name="Sort" value="Upcoming">Upcoming
			<div class="row">
				<div class="col-xs-6">
					<div class="submit">
						<a href="javascript:%20sort()" id="submit">Submit</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="cancel">
						<a href="#" id="cancel" onclick ="div_hide()">Cancel</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
<!-- Popup Div Ends Here -->
</div>

<%= javascript_include_tag "conventions_popup.js" %>
<div id="sorting_information">
	<div id="current_data">
		<%= @current.to_a %>
	</div>
	<div id="upcoming_data">
		<%= @upcoming.to_s %>
	</div>
</div>




