
<%# TODO: Make this page not ugly haha it's very scrappy %>

<section class="container-fluid">

    <div class="row topbar top_index">
        <div id = "title" class="col-xs-10">
            <h3><%= @convention.name %></h3>
        </div>
    </div>

        <%= image_tag @convention.logo_url() if @convention.logo? %>

    <section>
        <p>
            <strong>Date:</strong> <%= @convention.dateRange() %>
        </p>

        <strong>Maps:</strong>
        <% if @maps.length < 1 %>
            This convention has no maps. Where's it taking place? <%= link_to "Start adding some now!", new_map_path(convention_id: @convention.id) %>
            <p>A map is a floorplan of some area that the convention takes place in. For example, it could be a room, an outside area, or wherever your booths are setting up ultimately.</p>
        <% else %>
            <ul class="unordered">
                <% @maps.each do |map| %>
                    <li>
                        <%= link_to map.name, craft_map_path(map) %>
                        | <%= link_to map, method: :delete, data: { confirm: 'Are you sure you want to delete this map?' } do %>
                            <i class="fa fa-trash-o"></i>
                        <% end %>
                    </li>
                <% end %>
            </ul>
            <br />
            <%= link_to "Add another map", new_map_path(convention_id: @convention.id) %>
        <% end %>

        <hr />

        <div>
            <%= link_to 'Edit', edit_convention_path(@convention), class: "greenbtn btn-lg" %>
            <%= link_to 'Destroy', @convention, method: :delete, data: { confirm: 'Are you sure you want to delete this convention?' }, class: "redbtn btn-lg" %>
        </div>


    </section>

</section>