
<div class="container-fluid">

    <%# Top area - Convention image, banner, and subnav %>
    <div class="row" style="position: relative;">
            <div class="convention_banner_container">
                <% if @convention.banner? %>
                    <%= image_tag @convention.banner_url() %>
                <% else %>
                    <%= image_tag @convention.type.default_banner_url() %>
                    <%# PLACEHOLDER BANNER IMAGE %>
                <% end %>
            </div>


            <div style="position: absolute;">
            <%# Needed to get this dumb thing not to stretch the overall row height %>
                <div class="convention_logo_container">
                    <% if @convention.logo? %>
                        <%= image_tag @convention.logo_url() %>
                    <% else %>
                        <%= image_tag @convention.type.default_logo_url() %>
                        <%# PLACEHOLDER LOGO IMAGE, POSSIBLY ACRONYM? %>
                    <% end %>
                </div>
            </div>

            <%# Primary convention subnav that toggles between three views - About, Maps, Vendor List  %>
            <div id="sub_header">
                <a href="javascript:;" class="tanbtn tab selected" data-toggle="convention_about">About</a>
                <a href="javascript:;" class="tanbtn tab" data-toggle="convention_maps">Maps</a>
                <a href="javascript:;" class="tanbtn tab" data-toggle="convention_vendors">Vendor List</a>
            </div>
    </div>


    <%# Data shown, tab toggles control which is in view %>
    <div id="con_results" class="row">
        <div class="col-xs-12">
            <div class="tab_data selected" id="convention_about">
                <%= render :partial => "convention_about" %>
            </div>
            <div class="tab_data" id="convention_vendors">
                <%= render :partial => "convention_vendors", locals: {vendors: @vendors, tags: @tags} %>
            </div>
            <div class="tab_data" id="convention_maps">
                <%= render :partial => "convention_maps", locals: {maps: @maps } %>
            </div>
        </div>
    </div>

</div>





<div id="openHere">
	<div id="popupSort">
		<div class="popupHeader">Filter</div>
		<form id="form" method="post" name="form">
			<input type="radio" id="r1" name="Sort" value="Current">Current
			<br>
			<input type="radio" id="r2" name="Sort" value="Upcoming">Upcoming
			<div class="row">
				<div class="col-xs-6">
					<div class="submit">
						<a href="javascript:%20sort()" id="submit">Submit</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="cancel">
						<a href="#" id="cancel" onclick ="div_hide()">Cancel</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
<!-- Popup Div Ends Here -->
</div>

<%= javascript_include_tag "conventions_popup.js" %>
<div id="sorting_information">
	<div id="current_data">
		<%= @current.to_a %>
	</div>
	<div id="upcoming_data">
		<%= @upcoming.to_s %>
	</div>
</div>
