<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convention.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @convention.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @convention.end_date %>
</p>

<p>
    <strong>Maps:</strong>
    <% if @maps.length < 1 %>
        This convention has no maps. Where's it taking place? <%= link_to "Start adding some now!", new_map_path(convention_id: @convention.id) %>
        <p>A map is a floorplan of some area that the convention takes place in. For example, it could be a room, an outside area, or wherever your booths are setting up ultimately.</p>
    <% else %>
        <ul class="unordered">
            <% @maps.each do |map| %>
                <li>
                    <%= link_to map.name, craft_map_path(map) %>
                </li>
            <% end %>
        </ul>
        <br />
        <%= link_to "Add another map", new_map_path(convention_id: @convention.id) %>
    <% end %>
</p>

<%= link_to 'Edit', edit_convention_path(@convention) %> |
<%= link_to 'Back', conventions_path %>
